*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 5%;
    background-color: black;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 10px;
    
}
@media screen and (max-width: 480px){
    header{
        padding: 0%;
        font-size: 50%;

    }
     header .logo img{
        width: 50px;
        padding: 3%;
       
    }

     header .barra{
        margin: 0%;
        padding: 0%;
    
    }
    header li{
        font-size: 7px;
        padding: 0%;
        margin: 0%;
    }
}
@media screen and (max-width: 480px){
    header .buscar #barraBuscar {
        width: 2.5rem;
        height: 1.25rem; 
        
    }
    header .buscar #boto {
        width: 20px;
        height: 30px; 
        
    }
}


.logo img{
    width: 70%;
    height: 90%;
}
.lista{
    display: flex;
    align-items: center;
    padding: 0.9375rem;
}

a{
    text-decoration: none;
    color: white;
    padding: 0.9375rem;
}
a:hover{
    color: #0AE7E7;

}
.barra{
    color: #0AE7E7;
    padding: 0.9375rem;

}

section img{
    width: 18.75rem;
    height: 18.75rem;
   
}

h1, h2{
    text-align: center;
    padding: 1.25rem;
    
}
.jumbotron h1,h2, h4{
background-color: #0AE7E7;
color: white;
}
.jumbotron h4{
    text-align: center;
}

@media screen and (max-width: 480px){
    .jumbotron{

        font-size: 0.9375rem;
    }
    .jumbotron .FP{
        width: 90%;
        height: 60%;
        margin: 0.9375rem;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem black;
    border-radius: 2%;
    margin: 1%;
    display: flex;
    text-align: center;
    }
}
.adicionales{
    color: white;
    background-color: #0AE7E7;
    text-align: center;
   
}

.adicionales img{
    margin: 0.9375rem;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem black;
    border-radius: 2%;
    margin: 1%;

}
.adicionales h2, h4{
    width: 100%;
    text-align: center;
}
    
.adicionales h4{
    text-align: center;

}
@media screen and (max-width: 480px){
    .adicionales img{
        width: 45%;
        height: 40%;
}
    .adicionales .aggMedia{
        display: flex
    
        
    }


}

    
.FP{
    width: 100%;
    height: 40.625rem;

}


.blog{

    display: grid;
    grid-template-columns: repeat(4,25%);
}

@media screen and (max-width: 480px) {
    .blog{
        grid-template-columns: repeat(2,45%);
       gap: 1rem;
       
    }
    
}
@media screen and (max-width: 480px) {
    .BH img{

        width: 90%;
        height: 70%;
        justify-content: center;
    }
}

.fb{
    background-color: #E7E7E7;
}

.fb h1{
    width: 60%;
    background-color: #0AE7E7;
    color: white;
}

.blog h1{
    width: 100%;
    padding: 1%;
}
.BH img{
    width: 12.5rem;
    height: 16.875rem;
    padding: 0.625rem;
}
.BH{
    background-color: white;
    padding: 1.5rem 1rem;
    box-shadow: 0rem 0.5rem 0.5rem black;
    border-radius: 2%;
    margin: 1%;
}

.BH p{
    color: black;
    text-align: center;
    
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
   text-align: center;
    padding: 1.875rem;
    height: 20%;
    
   
}

th{
    color: #E7E7E7;

}

td a img{
    width: 20px;
    height: 20px;
    padding: 0%;
}
@media screen and (max-width: 480px){

}
.registro{
    width: 40%;
    background: #626262;
    color: white;
    padding: 3%;
    margin: 2%;
    border-radius: 5%;
    box-shadow: 0rem 0.5rem 0.5rem black;
    
   
    }
@media screen and (max-width: 480px) {
    .registro{
        width: 80%;
    }
    
}

.formulario{
    width: 60%; 
    padding: 1%;
    margin-bottom: 1%;
}

.registro h3{
    font-size: 1.4375rem;
    margin-bottom: 3%;
    text-align: center;

}

.registro p{
    font-size: 0.9375rem;
}

.botonR{
    width: 30%;
    font-size: 0.9375rem;
    background-color:black;
    border: white;
    color: white;
    padding: 2%;
    cursor: pointer;
    border-radius: 7%;
    box-shadow: 0rem 0.5rem 0.5rem black;

    
}

@media screen and (max-width: 480px) {
    footer img{
        width: 2.5rem;
        height: 2.5rem;
        
    }
    footer table{
        font-size: 10px;
        margin: 0.3125rem;
    }
    
}




